<!DOCTYPE html>
<html>
<head>
	<title>$Finance App$</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
	<link rel="stylesheet" type="text/css" href="stylesheet/main.css">
</head>
<body>
	<div id='mainHeader' class='ui segment container'>
		<div class='ui huge header'>Budget Calculator</div>			
		<div class='ui medium header'>By: Seth</div>
		<div class="ui pointing menu">
			<a href='/finance' class="item">Home</a>
			<a href='/finance/debit' class="item">Debits</a>
			<a href='/finance/credit' class="item">Credits</a>
			<a href='/finance/new' class="item">New</a>
			<div class="right menu">
				<div class="item">
					<div class="ui transparent icon input">
						<input placeholder="Search..." type="text">
						<i class="search link icon"></i>					
					</div>
				</div>
			</div>
		</div>